*{
    padding: 0;
    margin: 0;
}



#wrapper{
    width: 900px;
    margin: auto;
    
}

header{
    background:gray;
    width: 900px;
    height: 100px;
    clear: both;
}

h1{
    padding-top: 30px;
    text-align: center;
    font-family: Geneva, Georgia;
}

p{
    font-family: Verdana, sans-serif;
}

main{
    background: #E2EACB; 
    padding:20px 5px 20px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width:550px;
    float: left;
    
}

aside{
    background: #BAD584;
    width: 250px;
    margin:20px 0px 20px 20px;
    padding:20px 20px 20px 20px;
    float: right;
}
.validate{
    width:200px;
    height: 100px;
    margin-top: 20px;
    margin:auto
    
}





